.App {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  flex: 1;
}

input {
  flex: 1;
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.loginButton {
  background-color: #c8ccc8;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.belowFormGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap; 
}

.rememberId {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rememberId label {
  display: flex;
  font-size: 11px;
  align-items: center;
  margin-right: 30px;
}

.rememberId input {
  margin-top: 12px;
}

.signUpFindGroup {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  gap: 10px;
  white-space: nowrap;
}

.signUp {
  display: flex;
}

.idFind {
  display: flex;
}